[Desktop Entry]
Icon=image-jpeg
Name=perfect background.jpg
Type=Link
URL[$e]=file:$HOME/Pictures/perfect background.jpg
X-KDE-LastOpenedWith=xdg-desktop-portal-kde
