[Desktop Entry]
Icon=image-jpeg
Name=perfect background.jpg
Type=Link
URL[$e]=file:///usr/share/backgrounds/hefftorlinux_4k/perfect background.jpg
X-KDE-LastOpenedWith=org.kde.plasmashell
